<router-outlet></router-outlet>

<body>
    <div class="container">
        <header>
            <div class="logo-content">
                <img [src]="image" class="logo" alt="">
                <h2 [innerHTML]="letterLogo" class="letter-logo"></h2>
            </div>
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>
        <section class="home">
            <div class="home-content">
                <h1 [innerHTML]="intro" class="intro"></h1>
                <p class="p">
                    Angular is a web framework that empowers developers to build fast, reliable applications.
                </p>
                <button class="learn-now-btn">
                    Learn Angular
                </button>
            </div>
            <div class="home-image">
                <img [src]="image" class="image" title="Angular">
            </div>
        </section>
    </div>
</body>